.btn {
    &.disabled {
        background-color: #9E9E9E;
    }
    &.text {
        border-radius: 2px;
        text-transform: uppercase;
    }
    &.round {
        justify-content: center;
        font-size: 30px;
        border-radius: 50px;
        height: 36px;
        width: 36px;
        padding: 10px;
    }
    &.round:active{
        background-color: rgb(0, 110, 173);
        opacity: 1s;
    }
    background-color: #0098EE;
    color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 2px 2px 2px #B2B2B2;
    padding: 8px 16px;
    cursor: pointer;
    margin: 4px;
}

.btn-group {
    display: flex;
    height: 40px;
}