.card-wrapper {
    background-image: url(/images/aaa.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 1px solid rgba(188, 188, 188, 0.466);
    margin: 20px;
    width: 300px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
    .card-wrapper-title {
        width: calc(100%-16px);
        padding: 16px 16px;
    }
    .card-wrapper-content {
        width: calc(100%-16px);
        height: 200px;
        padding: 16px 16px;
        background-color: rgb(11, 80, 121);
        opacity: 0.5;
        transform: rotatex(90deg);
        border-radius: 0 0 10px 10px;
    }
}

// .card-wrapper:hover {
//     .card-wrapper-content {
//         transform: rotatex(0deg);
//         transition: .5s;
//     }
// }