@import "./components/card/index.scss";
@import "./components/buttons/index.scss";
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Roboto, Segoe Ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bg {
    .left-menu {
        width: 300px;
        background-color: #fff;
        transform: translateX(-300px);
        &.show {
            transform: translateX(0);
        }
        transition: transform .3s ease;
    }
    &.show {
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: block;
        position: fixed;
        z-index: 1001;
    }
    display: none;
}

.app-container {
    width: 100%;
    .app-body {
        width: 100%;
        .bar-wrapper {
            background-color: #fff;
            z-index: 9;
            position: fixed;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 112px;
            box-shadow: 0 0 10px #000;
            .app-header-title {
                display: flex;
                font-size: 20px;
                text-transform: uppercase;
                white-space: nowrap;
                color: rgba(0, 0, 0, .87);
                font-weight: 400;
                &enter {
                    text-transform: capitalize;
                }
            }
        }
    }
}

.app-body-container {
    margin-top: 130px;
}

.input-left-up {
    display: flex;
}

.nav-item--wrapper {
    display: flex;
    align-items: center;
}